@font-face {
    font-family: header;
    src: url('Fruits\ Delight.otf');
}

* {
    /* border: 2px red solid; */
}

body {
    background-color: #fefefe;
}

/* .heropageContainer::after {
    content: "";
    background-image: url('https://assets-global.website-files.com/64ef9712d8b1a0043fa28034/64ef9712d8b1a0043fa28080_After-Illustration-2023-01.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    display: block;
    z-index: -1;
    position: absolute;
    background-repeat: no-repeat;
    padding-top: 100px;
    inset: 0;

} */

.logo img {
    filter: invert(0);
}

.menubar img {
    height: 30px;
    filter: invert(0);
}

.menubar {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
    display: none;
}

.mainNavbarContainer {
    padding: 30px;
    background-color: #c7c7c7;
}

.navbar {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    transition: all 0.6s ease;
    /* background-color: rgb(208, 220, 225); */
    border-radius: 20px;
}

.navigationBar {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: -15%;
}

.navigationBar img {
    height: 20px;
    filter: invert(0);
}

.navbar>ul>li:not(.dropdown ul li) {
    cursor: pointer;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 200px;
}

.navbar>ul>li a:not(.dropdown ul li) {
    padding: 25px 5px;

}

.navbar ul li a {
    line-height: 20px;
    font-weight: 500;
    color: #000;
    padding: 0px 5px 0px 10px;
}


.navbar>ul>li:not(.dropdown ul li):hover>a {
    text-decoration: underline;
    color: #000;
    font-weight: 600;
    /* background-color: aqua; */
}

.navbar>.navigationBar>li:hover img {
    filter: invert(0);
}

.navbar>.navigationBar>li>a:hover+img {
    filter: invert(0);
}


.review {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 70%;
    background-color: #eeede5;
    z-index: 2;
    padding: 25px 15px;
    left: 55%;
    display: none;
}

.dropdown li {
    padding: 15px 10px;
    color: #503a3a;
    cursor: pointer;
}

.review:hover+.dropdown {
    display: block;
}

.dropdown ul li:hover {
    text-decoration: none;
    color: #574242;
    background-color: rgb(229, 238, 232);
}

.dropdown:hover {
    display: block;
}

.heading h1 {
    color: #503a3a;
    -webkit-text-stroke: #503a3f 1px;
    font-size: clamp(16px, 10vw, 5rem);
    font-family: header;
    text-align: right;
    margin-top: 25px;
}

.heropageContainer {
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    height: 82vh;
    /* border: 2px red solid; */
    padding: 0px 50px;
    flex-direction: column;
    background-color: #c7c7c7;

}

.para {
    /* color: #fff; */
    font-size: 16px;
    color: #000;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    z-index: 1;
    margin-bottom: 30px;
}

.callToAction {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.bar {
    background-color: #fff;
    margin: 0px 10px;
    width: 300px;
    background: rgba(255, 255, 255, 0.55);
    -webkit-backdrop-filter: blur(19px);
    backdrop-filter: blur(19px);
    border: 1px solid rgba(255, 255, 255, 0.275);
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bar1,
.bar3 {
    width: 250px;
    height: 200px;
}

.bar2 {
    height: 250px;
    box-shadow:
        3.8px 3.5px 43.2px rgba(0, 0, 0, 0.036),
        9.7px 8.9px 96.1px rgba(0, 0, 0, 0.062),
        19.8px 18.1px 210px rgba(0, 0, 0, 0.084),
        40.9px 37.2px 293.2px rgba(0, 0, 0, 0.109),
        112px 102px 342px rgba(0, 0, 0, 0.16);
}

.bar2 button {
    padding: 10px 20px;
    margin-top: 30px;
    border: #000 1px solid;

}

.servicesMainPage {
    margin-top: 50px;
    background-color: #fefefe;
    /* border: 2px red solid; */
    width: 100%;
}

.heading h1 {
    text-align: center;
}

.servicesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service {
    width: 30%;
    /* border: 2px red solid; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.service h2 {
    font-size: 2vw;
}

.service1 {
    background-color: #e1f0ee;
}

.service2 {
    background-color: #689ea180;
}


.servicesImage {
    position: relative;
    top: 10%;
    cursor: pointer;
}

.servicesImage img {
    height: 200px;
}

.afterHoverServicesImage {
    position: absolute;
    top: 0%;
    display: none;
}

.service:hover .afterHoverServicesImage {
    display: block;
}

.service:hover .beforeHoverServicesImage {
    visibility: hidden;
}

.mentalHealthAssessmentBlock {
    padding: 60px;
}

.mentalHealthContainer {
    background-color: lightgoldenrodyellow;
    padding: 70px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading:has(h2) {
    text-align: center;
}

.heading h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.mentalHealthContainer a {
    background-color: lightgrey;
    padding: 10px 20px;
    border-radius: 10px;
    color: #000;
}

.quoteContainer {
    width: 98vw;
    margin: 20px 5px;
}

.quoteWrap {
    display: flex;
    padding: 20px;
    width: 100%;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.quoteBlock {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 20%;
    margin: 0px 10px 0px 0px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    scroll-snap-align: center;
    height: 350px;
}

.quoteWrap .quoteBlock:nth-child(2n) {
    flex-direction: column-reverse;
}

.quote {
    padding: 10px;
    width: 100%;
    margin: 10px 0px;
}

.quoteBlock>* {
    border-radius: 20px;
}

.quoteMaster {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.quoteMaster img {
    height: 100%;
}

.quoteBlock:nth-child(1) .quoteMaster {
    background-color: lightcyan;
}

.quoteBlock:nth-child(2) .quoteMaster {
    background-color: lightslategray;
}

.quoteBlock:nth-child(3) .quoteMaster {
    background-color: lightgrey;
}

.quoteBlock:nth-child(4) .quoteMaster {
    background-color: lightskyblue;
}

.quoteBlock:nth-child(5) .quoteMaster {
    background-color: lightpink;
}

.quoteBlock:nth-child(6) .quoteMaster {
    background-color: lightsteelblue;
}

.quoteBlock:nth-child(7) .quoteMaster {
    background-color: lightseagreen;
}

.quoteBlock:nth-child(n) .quote {
    background-color: #e9ecfb;
}

.ourWorks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 99vw;
    margin: auto;
    padding: 50px;
    margin: 80px auto 0px auto;
    background-color: lavenderblush;
}

.workContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.header {
    padding: 20px;
    margin: 10px;
}

.workBlock {
    padding: 20px;
    background-color: #f2d4de;
    border-radius: 20px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 300px;
}


@media(width<=1050px) {
    .quoteMaster img {
        height: 150px;
    }
}


@media(width<=850px) {
    .quoteMaster img {
        height: 100px;
    }

    .workBlock {
        width: 40%;
        margin: 10px;
    }

    .bar1,
    .bar3 {
        display: none;
    }
}

@media(width <=698px) {
    .navigationBar img {
        height: 20px;
        filter: invert(1);
    }

    .logo img {
        filter: invert(1);
    }

    .mainNavbarContainer {
        padding: 0px;
    }



    .menubar {
        display: block;
        z-index: 3;
    }

    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        z-index: 2;
        transform: translate(-50%);
        background-color: #503a3a;
        margin-top: -150%;
    }

    .navbarVisible {
        margin-top: 25%;
    }

    .navigationBar {
        flex-direction: column;
        justify-content: center;
    }

    .dropdown {
        width: 90%;
        top: 77%;
        left: 25%;
    }

    .navbar ul li a {
        line-height: 20px;
        color: #fff;
        padding: 0px 10px;
    }

    .navbar>ul>li a:not(.dropdown ul li) {
        padding: 10px;
        margin: 20px;
    }

    .navbar ul li:hover>a {
        color: #000;
        padding: 0px 10px;
    }

    .heropageContainer {
        justify-content: center;
    }

    .heropageContainer h1 {
        margin-top: 80px;
        text-align: center;
    }

    .para {
        margin-bottom: 0px;

    }

    .servicesContainer {
        padding: 25px;
    }

    .service {
        margin: 20px auto;
        width: 45%;
    }

    .service h2 {
        font-size: 2.5vw;
    }

    .quoteBlock {
        width: 50%;
    }

    .heropageContainer {
        height: 90vh;
    }



}

@media(width < 500px) {
    .dropdown {
        width: 120%;
        top: 77%;
        left: -6%;
    }

    .servicesContainer {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }

    .servicesImage {
        display: none;
    }

    .heading {
        margin-top: 20px;
    }

    .service {
        padding: 20px;
        margin: 8px auto;
        width: 100%;
    }

    .service h2 {
        font-size: 5vw;
    }

    .service:has(h3>a) {
        font-size: 16px;
    }

    .mentalHealthAssessmentBlock {
        padding: 20px;
    }

    .mentalHealthContainer {
        padding: 10px;
    }

    .quote {
        padding: 20px;
    }

    .quoteBlock {
        width: 100%;
        height: 370px;
        padding: 20px;
    }

    .quoteMaster {
        padding: 0;

    }

    .quoteMaster img {
        height: 80%;
    }

    .workBlock img {
        display: none;
    }

    .workBlock {
        height: 125px;
    }

}

footer {
    position: relative;
    bottom: 1px;
    background-color: rgb(38, 36, 36);
    color: white;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding: 50px;
}

.logo {
    /* margin-left: 25px; */
    width: 250px;
}

.logos {
    filter: invert(1);
}

.logo img {
    height: 100px;
}

.colomn1 {
    width: 215px;
}

.office {
    margin-top: 20px;
    width: 52px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.location ul {
    height: 100px;
    text-decoration: none;
    margin-top: 20px;
    list-style-type: none;
}

.colomn2 {
    width: 100px;
    /* margin-left: 175px; */
}

.links {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    width: 49px;
    border-bottom: 2px solid #ccc;
}

.navitems ul li a {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.navitems ul li {
    list-style-type: none;
    margin-bottom: 8px;
    margin-top: 15px;
}

/* coloumn3 */
.colomn3 {
    width: 215px;
    /* margin-left: 150px; */
}

.newsletter {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

.id {
    margin-left: 10px;
    border-bottom: 2px solid #ccc;
    width: 150px;
}

.mail {
    width: 200px;
    height: 30px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.id input {
    margin-top: -1px;
    margin-right: 50px;
    background: transparent;
    border: 0;
    color: #ccc;
}

.s-media {
    margin-top: 45px;
}

.fa-brands {
    font-size: 24px;
    margin-right: 15px;
    color: white;
}

input:focus{
    border: none;
    outline: none;
}
/* responsive */
@media (width<=970px) {
    footer {
        padding: 50px;
        grid-template-columns: repeat(2, 50%);
    }
}

@media (width<=560px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .colomn2 {
        display: none;
    }

    .colomn1 {
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin: 20px 0px;
    }

    .colomn3 {
        display: inline;
        width: 50%;
    }

    .logo {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (width<=560px) {
    .colomn1 {
        flex-direction: column;
    }

    .s-media {
        width: 200px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 700px) {
    .navbar>ul>li a:not(.dropdown ul li) {
        font-size: 12px;
    }

    .navbar>ul>li:not(.dropdown ul li) {
        width: 100px;
    }

    .logo {
        width: 170px;
    }

    .logo img {
        height: 80px;
    }

    .navigationBar {
        width: 85%;
    }

    .nav img {
        height: 12px;
    }
}